@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #cf5151;
  --primary-filter-color: #e35958;
  --second-color: #ff8585;
  --terciary-color: #443f45;
  --quartenery-color: #2b2b2b;
  --box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

svg {
  color: #fff;
  fill: #fff;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

strong {
  color: var(--primary-color);
}

section {
  padding-block: 5rem;
  padding-inline: 1.5rem;
}

.nerdcia {
  color: crimson;
  text-decoration: underline;
}

a .nerdcia:hover {
  text-decoration: none;
}

.ligth-background {
  background-color: #f4f4f4;
  color: #000;
}

.gallery-background {
  background-color: #ffc5c5;
  color: #fff;
}

.dark-background {
  background-color: var(--second-color);
  color: #fff;
}

strong {
  font-weight: 700;
}

/* =================== fonts  ===================*/
h2 {
  text-align: center;
  font-size: 26px;
  margin: 2rem 0;
}

label {
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  text-align: justify;
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
}

h1,
h2,
h3,
a,
strong,
span {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

header {
  margin-bottom: 3rem;
}

header .subtitle {
  text-align: center;
  text-align: justify;
  width: 100%;
  margin-inline: auto;
}

/* =================== header =================== */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  padding: 10px 20px;

  background-color: var(--second-color);
  color: #000;
  box-shadow: 0px 0px 15px rgb(121, 121, 121);
}

header .containerwidth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: -500px;
  height: 100vh;
  width: 200px;
  background-color: var(--primary-filter-color);
  transition: all 0.3s ease;

  font-size: 23px;
}

#navbar.active {
  right: 0;
}

#icon-menu {
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#navbar li {
  margin-top: 5rem;
}

/* =================== home =================== */

#home {
  padding: 0;

  background-image: linear-gradient(45deg, #e1e1e1, var(--second-color));
}

#home {
  height: 100vh;
  font-size: 22px;
  color: #fff;
}
#home .text {
  padding-top: 15rem;
  padding-left: 2rem;
  text-align: left;
}

#home .text {
  padding-left: 2rem;
}

#home .text .home-logo {
  font-size: 40px;
  color: var(--primary-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.home-text-2 {
  font-size: 20px;
}

.typing {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 23px;
}

/* =================== about =================== */
#about h2 {
  color: var(--primary-color);
}

.about-container .image img {
  object-fit: cover;

  height: 20rem;
  border-radius: 1rem;
}

/* =================== gallery ===================  */

.gallery {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.gallery .content {
  border-radius: 0.5rem;

  width: 19rem;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.gallery .content:nth-child(1) {
  background: #943f5a;
}

.gallery .content:nth-child(2) {
  background: #303c46;
}

.gallery .content:nth-child(3) {
  background-image: linear-gradient(45deg, #b2dd19, #ea389f);
}

.gallery .content:nth-child(4) {
  background: #c8b1a4;
}

.gallery .content:nth-child(5) {
  background: #2fb0c2;
}

.gallery .content:nth-child(6) {
  background: #2b2b2b;
}

.gallery .content:nth-child(7) {
  background: #0b3972;
}

.gallery .content:nth-child(8) {
  background: #2b2b2b;
}

.gallery .content:nth-child(9) {
  background: #f9b0cd;
}

.gallery .content:nth-child(10) {
  background: #2b2b2b;
}

.gallery .content:nth-child(11) {
  background: #e3ca09;
}

.gallery .content:nth-child(12) {
  background: #09377d;
}

.gallery .content:nth-child(13) {
  background: #e01444;
}

.gallery .content:nth-child(14) {
  background: #09377d;
}

.gallery .content:nth-child(15) {
  background: #9fa4a6;
}

.gallery .content:nth-child(16) {
  background: #7a0323;
}

.gallery .content img {
  margin-top: 1rem;
  height: 18rem;
  width: 17rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.gallery-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 1rem;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.gallery-title {
  padding-bottom: 0.3rem;
}

.gallery-subtitle {
  padding-bottom: 1rem;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.7;
}

.gallery-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.gallery-button:hover {
  filter: brightness(1.2);
}

.gallery-price {
  font-size: 18px;
}

/* =================== newsletter ===================  */

.newsletter {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-color);
}

input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* =================== contact ===================  */

.contact-text h3 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  gap: 0.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  width: 100%;
  outline: none;
  border: 2px solid #fff;
}

.contact-button:hover {
  filter: brightness(1.1);
}

.contact-button i svg {
  fill: #fff;
}

.location {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.location-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* =================== footer ===================  */
#footer-area {
  padding: 1rem;
}

.footer-text .logo {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

footer .social {
  display: flex;
  gap: 0.5rem;
  margin-top: 3rem;
}

footer .social a {
  transition: all 0.3s ease;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer i svg {
  cursor: pointer;
  fill: var(--primary-color);
}

/* =================== back-to-top =================== */

.backTopButton {
  background-color: var(--primary-filter-color);
  filter: brightness(1.2);
  box-shadow: var(box-shadow);

  transition: all 0.3s;

  height: 1.5rem;
  width: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;

  position: fixed;
  bottom: 1rem;
  right: 0.5rem;

  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;

  z-index: 999;
  transform: translateY(100%);
}

.backTopButton.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.backTopButton:hover {
  filter: brightness(1.1);
}

/*  =================== media =================== */

@media (min-width: 1200px) {
  .containerwidth {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
  .subtitle {
    text-align: center;
  }

  #header {
    padding: 20px 0;
  }

  section {
    padding: 8rem 0;
  }

  h2 {
    font-size: 30px;
  }

  .subtitle {
    font-size: 16px;
  }

  #home .text {
    padding-left: 0rem;
  }

  .logo {
    text-align: left;
  }
  /* home-minwidth */
  #home label {
    left: 5.5rem;
  }

  .home-text-1 {
    font-size: 40px;
  }

  #home label .home-logo {
    font-size: 55px;
  }

  .home-text-2 {
    font-size: 40px;
  }

  .typing {
    font-size: 55px;
  }

  #about .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }

  #about .about-container .text {
    width: 40%;
  }

  #about .about-container img {
    height: 25rem;
  }

  .gallery .content {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .gallery .content img {
    margin-top: 1rem;
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
  }

  #products header p {
    text-align: center;
  }

  #contact .contact-container {
    display: flex;
    justify-content: space-between;

    margin-top: 5rem;
  }

  #contact .contact-container .contact-text {
    font-size: 35px;
  }

  #contact .contact-container .contact-text h2 {
    width: 50rem;
  }

  #contact .contact-container .contact-text h5 {
    text-align: left;
    width: 30rem;
  }

  #contact .location h4 {
    text-align: left;
  }

  #footer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  }

  #footer .social {
    gap: 2rem;
  }

  .footer-text h5 {
    text-align: left;
  }
}
